<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel-BNB USER</title>
    <!-- Fontawesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/account/user.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <section class="user_section">
      <div class="user_main_left">
        <div class="user_profile_img_container">
          <% if (userObject.user.user_image) { %>
          <img
            class="user_profile_img"
            src="<%=userObject.user.user_image%>"
            alt="User profile image"
          />
          <% } else { %>
          <img
            class="user_profile_img"
            src="https://images.unsplash.com/photo-1612392062631-94dd858cba88?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
            alt="random image"
          />
          <% } %>
          <div>
            <button class="user_update_photo">Update User Photo</button>
          </div>
        </div>
        <hr class="user_profile_left_divider" />
        <div class="user_profile_posted_hotel">
          <i class="fas fa-hotel"></i> <%=userObject.postedHotel.length%> hotels
          posted
        </div>
        <div class="user_profile_info">
          <p>User information</p>
          <div>
            <p>
              <i class="fas fa-check"></i> Email:
              <small><%=userObject.user.user_email%> </small>
            </p>
          </div>
        </div>
      </div>
      <div class="user_main_right">
        <div class="user_main_heading_wrapper">
          <h2 class="user_main_hi">
            Welcome, <%=userObject.user.user_username%>
          </h2>
          <form action="#">
            <button class="post_hotel">Forget Me</button>
          </form>
        </div>
        <hr class="user_hr_divider" />
        <div class="user_main_right_hotel_lists">
          <div class="user_main_tab_container">
            <button class="user_tab" id="userTabDefault">Posting Lists</button>
          </div>
          <!-- Panel Container -->
          <div class="user_main_tab_panel_container" id="userTabHotelList">
            <div class="hotel_posting_panel">
              <% if (userObject.postedHotel.length > 0) { %> <%
              userObject.postedHotel.forEach( (eachHotel) => { %>
              <div class="hotel_posting_row">
                <img
                  class="hotel_posting_image"
                  src="<%=userObject.imageDOM[0]%>"
                  alt="User posted hotel image"
                />
                <div class="hotel_post_right_container">
                  <div class="hotel_info_container">
                    <div class="hotel_info_name hotel_info">
                      <h3>Hotel label:</h3>
                      <p><%=eachHotel.label%></p>
                    </div>
                    <div class="hotel_info_address hotel_info">
                      <h3>Hotel address:</h3>
                      <p><%=eachHotel.address%></p>
                    </div>
                    <div class="hotel_info_city hotel_info">
                      <h3>Hotel city:</h3>
                      <p><%=eachHotel.city%></p>
                    </div>
                    <div class="hotel_posted_date hotel_info">
                      <h3>Posted date</h3>
                      <p><%=eachHotel.createdAt.toDateString()%></p>
                    </div>
                  </div>
                  <div class="hotel_link_container">
                    <button
                      class="hotel_detail_btn"
                      onclick="location.href='/hotel/<%=eachHotel._id%>'"
                    >
                      View My Hotel
                    </button>
                  </div>
                </div>
              </div>

              <% }) %> <% } else { %>
              <p>No Hotel had been posted</p>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="/js/root/dropdown.js" defer></script>
  </body>
</html>
